@charset "UTF-8";
    /*Estilo para tela*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    font-size: 3em;
}
footer > p{
    text-align: center;
}